{% extends "admin/admin_base.html" %}


{% block title %}
Change Password
{% endblock %}



{% block page_title %}
Security Settings
{% endblock %}




{% block content %}



<section class="settings-container">


<div class="premium-setting-card password-card">


<div class="setting-icon">
🔐
</div>



<h2>
Change Password
</h2>


<p>
Update administrator security credentials
</p>



<form method="POST">


<div class="setting-fields">


<label>
Current Password
</label>


<input 
type="password"
name="current_password"
required>



<label>
New Password
</label>


<input 
type="password"
name="new_password"
required>




<label>
Confirm New Password
</label>


<input 
type="password"
name="confirm_password"
required>



</div>



<button class="premium-setting-btn">

Update Password

</button>


</form>


</div>


</section>



{% endblock %}