{% extends "admin/admin_base.html" %}

{% block title %}
Delete Product
{% endblock %}

{% block page_title %}
Delete Product
{% endblock %}

{% block content %}

<div class="delete-box">

    <h2>Delete Product</h2>

    <p>

        Are you sure you want to delete

        <strong>{{ product.product_name }}</strong>?

    </p>

    {% if product.image %}

    <img
        src="{{ url_for('static',
        filename='images/products/' + product.image) }}"
        class="preview-image">

    {% endif %}

    <form method="POST">

        <button
            type="submit"
            class="delete-btn">

            Yes, Delete Product

        </button>

        <a
            href="{{ url_for('admin_products.product_list') }}"
            class="btn-primary">

            Cancel

        </a>

    </form>

</div>

{% endblock %}