{% extends "admin/admin_base.html" %}



{% block title %}

Invoice

{% endblock %}



{% block content %}



<div class="invoice-container">


<div class="invoice-header">


<img src="{{ url_for(
'static',
filename='logo/logo.png'
)}}">


<h1>
Sri Krishna Swacch Aaharam
</h1>


<p>
100% Natural • Organic • Traditional
</p>


</div>





<div class="invoice-details">


<h2>
Invoice #{{order.id}}
</h2>



<p>
Customer:
{{order.customer_name}}
</p>



<p>
Phone:
{{order.customer_phone}}
</p>



<p>
Address:
{{order.customer_address}}
</p>



</div>







<table>


<tr>

<th>
Product
</th>


<th>
Quantity
</th>


<th>
Price
</th>


</tr>




{% for item in order.items %}


<tr>

<td>
{{item.product_name}}
</td>


<td>
{{item.quantity}}
</td>


<td>
₹{{item.price}}
</td>


</tr>


{% endfor %}



</table>






<h2 class="invoice-total">

Total:
₹{{order.total_amount}}

</h2>





<a href="{{url_for(
'invoice.download_invoice',
order_id=order.id
)}}"
class="download-btn">

Download PDF

</a>





</div>



{% endblock %}