{% extends "layouts/base.html" %}


{% block content %}


<section class="contact-page-premium">



<div class="premium-contact-card">



<!-- LEFT DETAILS -->

<div class="premium-contact-info">


<div class="brand-heading">


<i class="fa-solid fa-leaf"></i>


<div>

<h1>

Sri Krishna

<span>
Swacch Aaharam
</span>

</h1>


<p>
Est. 2019
</p>

</div>


</div>






<div class="contact-info-list">


<div>

<i class="fa-solid fa-phone"></i>

<span>
9491337723
</span>

</div>




<div>

<i class="fa-solid fa-location-dot"></i>

<span>

Opp to ICICI Bank, Macherla,
<br>
Andhra Pradesh, India

</span>

</div>



</div>


</div>








<!-- RIGHT LOGO -->


<div class="premium-contact-logo">


<div class="logo-frame">


<img src="{{url_for(
'static',
filename='images/logo.png'
)}}">


</div>


</div>





</div>










<!-- SOCIAL LINKS -->


<div class="connect-section">


<h2>
Connect With Us
</h2>


<p>
Follow our journey and reach us through our official platforms.
</p>




<div class="connect-cards">





<a href="https://wa.me/c/919491337723"
target="_blank"
class="connect-card whatsapp">


<i class="fa-brands fa-whatsapp"></i>

<span>
WhatsApp
</span>

</a>







<a href="https://www.instagram.com/mallikmutyala?igsh=MTYwOHBoajdubHFrbw=="
target="_blank"
class="connect-card instagram">


<i class="fa-brands fa-instagram"></i>

<span>
Instagram
</span>

</a>







<a href="https://maps.app.goo.gl/EgCc8dHmkDR7Eza37?g_st=aw"
target="_blank"
class="connect-card maps">


<i class="fa-solid fa-map-location-dot"></i>

<span>
Google Maps
</span>

</a>





</div>


</div>




</section>


{% endblock %}